RUN_MODE=LOCAL
NODE_ENV=

API_URL_LOCAL = http://localhost:
API_URL_TEST = http://localhost:
API_URL_PROD = http://localhost:


PORT_LOCAL = 4001
PORT_TEST = 4002
PORT_PROD = 4003


# LOCAL db connection
DB_USER_LOCAL=
DB_PASSWORD_LOCAL=
DB_DATABASE_LOCAL=
DB_HOST_LOCAL=
DB_PORT_LOCAL = 
DB_DIALECT_LOCAL=

DB_MAX_LOCAL =  
DB_MIN_LOCAL =  
DB_ACQUIRE_LOCAL =  
DB_IDLE_LOCAL =  

# TEST db connection
DB_USER_TEST=
DB_PASSWORD_TEST=
DB_DATABASE_TEST=
DB_HOST_TEST=
DB_DIALECT_TEST=

# PROD db connection
DB_USER_PROD=
DB_PASSWORD_PROD=
DB_DATABASE_PROD=
DB_HOST_PROD=
DB_DIALECT_PROD=



# JWT LOCAL CREDI
JWT_ACCESS_SECRET_LOCAL=
JWT_ACCESS_ALGO_LOCAL=

JWT_REFRESH_SECRET_LOCAL=
JWT_REFRESH_ALGO_LOCAL=

# JWT TEST CREDI
JWT_ACCESS_SECRET=
JWT_ACCESS_ALGO=

JWT_REFRESH_SECRET=
JWT_REFRESH_ALGO=


# JWT PROD CREDI
JWT_ACCESS_SECRET=
JWT_ACCESS_ALGO=

JWT_REFRESH_SECRET=
JWT_REFRESH_ALGO=



# API IMAGE URL 

IMAGE_URL_LOCAL = 